@import "../../assets/variables.scss";

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: rgba($color: $background-colour, $alpha: 0.05);
  font-family: $my-font;

  .banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h1 {
      margin-left: 15px;
      color: $background-colour;
    }

    h4 {
      color: $my-orange;
      margin-right: 25px;
    }

    &:hover {
      background-color: rgba($color: $my-blue, $alpha: 0.2);
      cursor: pointer;
    }
  }
  
  .blue {
    background: rgba($color: $my-blue, $alpha: 0.2);
  }

  .body {
    display: flex;
    flex-direction: row;
    background: rgba($my-other-grey, 0.5);
    color: $background-colour;

  }

  .image {
    height: 170px;
    width: 100px;
    object-fit: contain;
  }

}

// Responsive desigb

/* Extra small devices */
@media only screen and (max-width: 480px) {
  .body {
    padding: 10px;
    .bodyText {
      padding: 12px;
    }
  }
}

/* Small devices */
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .body {
    padding: 10px;
    .bodyText {
      padding: 12px;
    }
  }
}

/* Medium devices */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .body {
    padding: 10px;
    .bodyText {
      padding: 12px;
    }
  }
}

/* Large devices */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .body {
    padding: 10px;
    .bodyText {
      padding: 12px;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .body {
    padding: 10px;
    .bodyText {
      padding: 12px;
    }
  }
}