@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

// colors
$my-orange: #CD533B;
$background-colour: #FCF7FF;
$my-grey: #C4CAD0;
$my-blue: #0D71E3;
$my-other-grey: #A4969B;

// fonts
$my-font: 'Montserrat', sans-serif;